<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Lista de Cadastros de Pessoas</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>CPF</th>
          <th>Email</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pessoa of pessoas | async">
          <td>{{pessoa.nome}}</td>
          <td>{{pessoa.cpf}}</td>
          <td>{{pessoa.email}}</td>
          <td>
            <button (click)="removePessoa(pessoa.id)" class="btn btn-danger">Remover</button>
            <button (click)="atualizaPessoa(pessoa.id)" class="btn btn-warning" style="margin-left: 10px">Atualizar</button>
            <button (click)="detalhePessoa(pessoa.id)" class="btn btn-info" style="margin-left: 10px">Detalhes</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
