<h3>Atualiza Cadastro de Pessoa</h3>
<div style="width: 900px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-container">
      <div style="width: 440px;">
        <h4>Dados Pessoais</h4>
        <div class="form-group">
          <label for="name">Nome</label>
          <input type="text" class="form-control" id="nome" required [(ngModel)]="pessoa.nome" name="nome">
        </div>

        <div class="form-group">
          <label for="cpf">CPF</label>
          <input disabled type="text" class="form-control" id="cpf" required [(ngModel)]="pessoa.cpf" name="cpf">
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" [(ngModel)]="pessoa.email" name="email">
        </div>
        <div class="form-group">
          <label for="dataNascimento">Data Nascimento</label>
          <input type="date" class="form-control" id="dataNascimento" required [(ngModel)]="pessoa.dataNascimento"
            name="dataNascimento">
        </div>

        <div class="form-group">
          <label for="nacionalidade">Nacionalidade</label>
          <input type="text" class="form-control" id="nacionalidade" [(ngModel)]="pessoa.nacionalidade"
            name="nacionalidade">
        </div>

        <div class="form-group">
          <label for="naturalidade">Naturalidade</label>
          <input type="text" class="form-control" id="naturalidade" [(ngModel)]="pessoa.naturalidade"
            name="naturalidade">
        </div>

        <div class="form-group">
          <label for="sexo">Sexo</label>
          <input type="text" class="form-control" id="sexo" [(ngModel)]="pessoa.sexo" name="sexo">
        </div>
      </div>

      <div [hidden]="hidden" style="width: 440px;">
        <h4>Endereço</h4>
        <div class="form-group">
          <label for="cep">CEP</label>
          <input type="text" class="form-control" id="cep" [ngModel]="pessoa.endereco?.cep" (ngModelChange)="pessoa.endereco.cep=$event" name="cep">
        </div>

        <div class="form-group">
          <label for="rua">Rua</label>
          <input type="text" class="form-control" id="rua" [ngModel]="pessoa.endereco?.rua" (ngModelChange)="pessoa.endereco.rua=$event" name="rua">
        </div>

        <div class="form-group">
          <label for="numero">Número</label>
          <input type="text" class="form-control" id="numero" [ngModel]="pessoa.endereco?.numero" (ngModelChange)="pessoa.endereco.numero=$event" name="numero">
        </div>

        <div class="form-group">
          <label for="bairro">Bairro</label>
          <input type="text" class="form-control" id="bairro" [ngModel]="pessoa.endereco?.bairro" (ngModelChange)="pessoa.endereco.bairro=$event" name="bairro">
        </div>

        <div class="form-group">
          <label for="cidade">Cidade</label>
          <input type="text" class="form-control" id="cidade" [ngModel]="pessoa.endereco?.cidade" (ngModelChange)="pessoa.endereco.cidade=$event" name="cidade">
        </div>

        <div class="form-group">
          <label for="uf">UF</label>
          <input type="text" class="form-control" id="uf" [ngModel]="pessoa.endereco?.uf" (ngModelChange)="pessoa.endereco.uf=$event" name="uf">
        </div>

        <div class="form-group">
          <label for="complemento">Complemento</label>
          <input type="text" class="form-control" id="complemento" [ngModel]="pessoa.endereco?.complemento"
            (ngModelChange)="pessoa.endereco.complemento=$event" name="complemento">
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-success">Atualizar</button>
  </form>
</div>
